* {
    color: white;
    font-family: 'Consolas', monospace;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.cc-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    text-align: center;
}

a {
    display: block;
    text-decoration: none;
}

a:hover {
    color: bisque;
}

.cc-title {
    position: absolute;
    top: 3%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translateX(-50%);
    font-size: 5vh;
    user-select: none;
}

.cc-return {
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 2vh;
}

.cc-add_page {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 2vh;
}

.cc-card {
    position: relative;
    margin: 10px;
    text-align: left;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    min-height: 10%;
    width: 100%;
}

table,
th,
td,
caption {
    border: 1px solid white;
    border-collapse: collapse;
}

table {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

input,
select,
option {
    background-color: black;
    border: white solid 2px;
    margin: 2.5%;
    width: 95%;
}

input[type="color"] {
    width: 150px;
}

input[type="radio"] {
    display: inline;
    width: 5%;
}

input:focus,
select:focus,
option:focus {
    outline: none;
}

button {
    outline: none;
    border: 2px solid white;
    color: white;
    background: none;
}

form {
    position: relative;
    border: 3px solid white;
    width: 70%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}
